%h1 Completed Todos

= turbo_frame_tag 'todo-form', target: '_top' do
  = render 'form', todo: @todo

= turbo_frame_tag 'todo-list' do
  = link_to 'Incomplete Todos', todos_path

  %ul
    - @todos.each do |todo|
      %li= todo.content
