%h1 Todos

= turbo_frame_tag 'todo-form', target: '_top' do
  = form_for @todo do |f|
    = f.label :content
    = f.text_field :content

    = f.submit

= turbo_frame_tag 'todo-list' do
  %ul
    - @todos.each do |todo|
      %li= todo.content

    %li Buy a New Gudget
